@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

$clr-gray200: #eef1f6;

body {
  font-family: Oxygen, sans-serif;
  margin: 2rem;
  background-color: #eef1f6;
}

// .App_logo {
//     display: flex;
//     justify-content: center;

// }
